@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aqua: #11998e;
  --green: #38ef7d;
  --main: #131722;
  --blue: #00c2f3;
}

::selection {
  background-color: var(--aqua);
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shield, .btn-primary { 
  background-image: linear-gradient(90deg, var(--aqua) 0%, var(--green) 100%);
}

.my-label {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.my-label:hover, .my-label:focus-within {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.my-input {
  outline: none;
  background-color: transparent;
}

.error-input {
  outline: 1px solid rgba(209, 15, 15, 0.616);
}

.small-input::placeholder {
  color: #797979;
}

.small-input::-webkit-outer-spin-button,
.small-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.small-input[type=number] {
  -moz-appearance: textfield;
}

.support-input{
  background-color: transparent;
  outline: 1px var(--aqua) solid;
  transition: .2s;
}
.support-input:focus, .support-input:hover {
  outline: 1px solid var(--aqua);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 218, 205, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(66, 218, 205, 1);
  box-shadow: 0px 0px 24px 0px rgba(66, 218, 205, 1);
}

.glass1{
  background: rgb(39, 51, 89, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.glass2 {
  /* background: rgba(19, 23, 34, 0.178); */
  background: rgba(25, 37, 66, 0.178);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.table-wraper {
  /* width: 100vw; */
  overflow-x: scroll;
}
.table-wraper::-webkit-scrollbar {
  width: 0;
}

.row {
  transition: .2s;
}
.row:hover {
  background-color: #0c0c0c34;
}

.link {
  text-decoration: underline;
  color: var(--aqua);
}

.link:hover {
  color: #0e7c73;
}

.app { 
  background-color: var(--main);
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.footer-bg {
  background-color: var(--main);
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
} 

.asd{
  color: #797979;
}

.btn-navlink {
  outline: 1px solid #4b5563;
  transition: .2s;
}

.btn-navlink-active {
  outline: 1px solid var(--blue);
  transition: .2s;
  -webkit-box-shadow: 0px 0px 10px 0px #2ad4ff;
  -moz-box-shadow: 0px 0px 10px 0px #2ad4ff;
  box-shadow: 0px 0px 10px 0px #2ad4ff;
}

.btn-navlink:hover, .btn-navlink-active:hover, .btn-secondary:hover {
  background-color: #adadad11;
}