@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aqua: #11998e;
  --green: #38ef7d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shield, .btn-primary { 
  background-image: linear-gradient(90deg, var(--aqua) 0%, var(--green) 100%);
}